/* Google Font (poppins) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

main {
    width: 83%;
    margin: 50px auto;

}

/* Top Banner */



.top-banner {
    background: #161616;
    border-radius: 30px;
    padding: 5%;
    padding-bottom: 0;
    margin-bottom: 5%;
    padding-top: 3%;
    transition: transform 0.4s;

}

.top-banner:hover {
    transform: scale(0.9);
}

.top-banner-details {
    display: flex;
    /* align-items: center; */
}

.banner-info {
    width: 50%;
    margin-top: 7%;
    /* margin-left: 3%; */
}

.banner-title {
    font-size: 70px;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 20px;
    animation: title-color-change 6s infinite;

}

@keyframes title-color-change {
    0% {
        color: yellow;
    }



    50% {

        color: white;
    }


    100% {
        color: lightcoral;
    }


}


.banner-details {
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 400;
    margin-bottom: 30px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 160px;
    height: 50px;
    background: #DD0000;
    border-radius: 7px;
    cursor: pointer;
}

.button a {
    text-decoration: none;
    font-family: cursive;
    font-size: 17px;
    color: #FFFFFF;

}

.button .fa-angle-right {
    color: white;
    margin-left: 10px;
}

.top-banner-player {
    width: 50%;
    text-align: center;
    margin-left: 5%;

}

.top-banner-player img {
    width: 581px;
    height: 613px;
    margin-bottom: -7px;

}




/* Blog Section Style */

.blogs-section {
    display: flex;
}

.pages-link-box {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 50%;
    background: #161616;
    border-radius: 10px;
    background-color: #161616;
    justify-content: center;
    align-items: center;
}



.pages-link {
    width: 220px;
    height: 52px;
    background-color: #FFFFFF;
    text-align: center;
    /* margin: 5px; */
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    margin: 15% 0;
    cursor: pointer;
}




.pages-link a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.578);
}

.orange-background {
    background-color: orangered;
}

.orange-background a {
    color: white;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-left: 2%;
}

.blog {
    border: 1px solid lightgray;
    border-radius: 8px;
}

.blog .blog-thumbnail img {
    width: 100%;
}

.blog-details {
    padding: 15px;
}

.blog-button button {
    width: 100px;
    height: 32px;
    font-size: 16px;
    color: #161616;
    border-radius: 6px;
    margin-bottom: 15px;
    box-shadow: 10px 10px 10px lightgray;

}

.blog-info p {
    font-weight: 600;
    font-size: 18px;
    color: #161616;
}

.blog-icons {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

.view-button {
    /* width: 5%; */
    margin: 5% auto;
    /* display: flex;
    justify-content: center; */
    /* margin-left: 25%; */
}


/* View Button */

.view-all-btn button {
    display: none;
    text-align: center;
    width: 160px;
    height: 50px;
    background: #DD0000;
    border-radius: 7px;
    color: white;
    font-weight: 800;
    font-size: 23px;
}


/* footer style */

footer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #161616;
}

.footer-info {
    padding: 5%;
    color: white;
}

.foot-title {
    margin-bottom: 50px;
    size: 45px;
    font-weight: 600;
    margin-top: 80px;
}

.foot-title a {
    color: white;
    text-decoration: none;
    animation: color-change 3s infinite;
}



@keyframes color-change {
    0% {
        color: #DD0000;
    }

    25% {
        color: orangered;
    }

    50% {

        color: white;
    }

    75% {
        color: yellow;
    }

    100% {
        color: green;
    }
}


hr {
    margin-bottom: 50px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-contents {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 80px;
}



.contents {
    font-weight: 500;
    font-size: 16px;
    color: #B9B9B9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all 0.3s;
    cursor: pointer;
}

.contents:hover {
    margin-left: 15px;
    color: orangered;
}

.social-links {
    font-size: 35px;
}

.social-links a {
    color: white;
    margin-left: 2%;
    transition: all 0.4s;
}

.social-links a:hover {
    color: #DD0000;
}





/* To make responsive for Mobile Phones */

@media screen and (min-width:768px) and (max-width:1023px) {

    main {
        width: 90%;
    }

    /* top banner */



    .banner-title {
        font-size: 50px;
        font-weight: 500;
        line-height: 60px;
    }

    .banner-details {
        font-size: 15px;
    }



    .top-banner-player img {
        width: 100%;
        margin-left: 10px;
    }

    /* blog section */

    .blogs-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pages-link-box {
        background-color: white;
        border: 0;
        width: 100%;
        height: auto;
    }



    .pages-link-button {
        display: flex;
        gap: 30px;
        width: 100%;
    }

    .pages-link {
        border: 1px solid;
        width: 280px;
        height: 68px;
    }

    .blogs {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 0;
    }

    .blog-button button {
        width: 40%;
        height: 55px;
        outline: none;
        font-size: 25px;
        background-color: white;
        box-shadow: 10px 10px 5px 0px lightgray;

    }

    .last-article {
        display: none;
    }

    .view-button {
        width: 100%;
        display: flex;
        justify-content: center;
        outline: none;
    }

    .view-all-btn button {
        display: block;
        box-shadow: 10px 10px 5px 0px rgb(150, 146, 146);

    }

    .footer-contents {
        width: 100%;
        margin-bottom: 50px;
    }
}