/* Country Group css */

.country-groups {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 3%;
    gap: 50px;
    width: 80%;
}

.group {
    border: 1px solid lightgrey;
    padding: 20px 35px;
    text-align: center;
    border-radius: 6px;
    width: 80%;
}

.country-flags img {
    width: 100%;
}



/* ---------------------------To make responsive for Mobile Phones ---------------------------*/

@media screen and (max-width:767px) {

    /* Country Group css */

    .country-groups {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0;
        gap: 35px;
    }

    .group {
        width: 80%;
    }

    .country-flags img {
        width: 100%;
    }

}

/* ---------------------------To make responsive for Tablets--------------------------- */

@media screen and (min-width:768px) and (max-width:1023px) {

    /* Country Group css */


    .country-groups {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 0;
        gap: 35px;
    }



}